<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CAApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.CA.Material.Ocean"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="61e6dbdd0c46a2250f5c8c388246cdd1b5866ca0" />

        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.viewcaptain.ViewCaptainActivity" />
        <activity android:name=".ui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.half.wowsca.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.compare.CompareActivity"
            android:label="@string/title_compare">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.half.wowsca.ui.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.encyclopedia.EncyclopediaTabbedActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.encyclopedia.ShipProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.encyclopedia.EncyclopediaTabbedActivity" />
        </activity>
        <activity android:name=".ui.ResourcesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.half.wowsca.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.AuthenticationActivity" />
        <activity android:name=".ui.compare.ShipCompareActivity" />

        <activity
            android:name=".ui.InformationActivity"
            android:label="@string/title_activity_information"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.half.wowsca.ui.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

    </application>

</manifest>